/* Common */

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
.primary {
    background-color: #3f51b5;
    color: white;
}
.primary-light {
    background-color: #c5cae9;
    color: white;
}
.primary-dark {
    background-color: #303f9f;
    color: white;
}
.accent {
    background-color: #ff4081;
    color: white;
}
.accent-light {
    background-color: #ff80ab;
    color: white;
}
.accent-dark {
    background-color: #f50057;
    color: white;
}
.standard-text {
    color: rgba(0, 0, 0, 0.87);
}
.secondary-text {
    color: rgba(0, 0, 0, 0.54);
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    /*    margin: 0;*/
    /*    height: 100%;*/
    background-color: #eee;
    color: rgba(0, 0, 0, 0.87);
    font-family: "roboto";
}
core-tooltip::shadow .core-tooltip {
    opacity: 0;
    -webkit-transition: all 300ms cubic-bezier(0, 1.92, .99, 1.07);
    transition: all 300ms cubic-bezier(0, 1.92, .99, 1.07);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}
core-tooltip:hover::shadow .core-tooltip,
core-tooltip:focus::shadow .core-tooltip {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/* Home */

core-scroll-header-panel::shadow #headerBg {
    background-image: url(../images/header.jpg);
}
core-scroll-header-panel::shadow #condensedHeaderBg {
    background-color: #3f51b5;
}
core-scroll-header-panel core-toolbar {
    background-color: transparent;
    color: white;
}
core-toolbar paper-icon-button:hover {
    background: #c5cae9;
    border-radius: 50%;
}
core-toolbar .title-home {
    font-size: 40px;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
}
core-toolbar .title-home a,
core-toolbar .title a {
    text-decoration: none;
    color: currentcolor;
}
.content {
    padding: 10px;
}
.top-box {
    margin-top: 80px;
    margin-bottom: 40px;
}
.bottom-box {
    margin-top: 40px;
    margin-bottom: 80px;
}
.sign-up-dialog-button {
    background-color: #ff4081;
    color: white;
    font-size: 20px
}
paper-shadow {
    background-color: white;
    margin: 20px;
    padding: 20px 0 40px;
}
.content h1 {
    color: #ff4081;
}
.content h2 {
    color: #3f51b5;
}
.content img {
    max-width: 100%;
}
.top-box big {
    color: #f50057;
}
.avatar {
    display: inline-block;
    width: 64px;
    height: 64px;
    line-height: 0;
    border-radius: 50%;
    /*    border: 1px solid;*/
}
.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.author {
    line-height: 19px;
}
.name {
    color: #ff4081;
}
.tech {
    display: inline-block;
    height: 64px;
    line-height: 0;
}
.tech img {
    max-height: 100%;
}
body /deep/ paper-action-dialog::shadow h1 {
    color: #ff4081;
}
body /deep/ paper-action-dialog label {
    color: #3f51b5;
}
body /deep/ paper-action-dialog paper-button {
    color: white;
}
body /deep/ paper-action-dialog paper-button[affirmative] {
    background-color: #ff4081;
}
body /deep/ paper-action-dialog paper-button[dismissive] {
    background-color: #3f51b5;
}
body /deep/ .sign-up-dialog {
    width: 300px;
}
/* Main */

.avatar-mini {
    display: inline-block;
    margin-right: 10px;
    width: 52px;
    height: 52px;
    line-height: 0;
    border-radius: 50%;
}
.avatar-mini img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
core-scaffold /deep/ core-toolbar {
    background-color: #3f51b5;
    color: white;
}
.menu {
    margin: 10px 0 0 0;
}
.menu paper-item {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.menu paper-item.core-selected {
    background: #fce4ec;
    color: #f50057;
}
core-toolbar .title {
    margin-left: 0;
}
core-toolbar .toolbar-icon,
core-toolbar .toolbar-menu {
    margin: 0;
}
core-toolbar .toolbar-menu {
    margin-top: 5px;
}
.menu-add {
    margin: 0;
    background-color: white;
    color: black;
}
.menu-add paper-item:hover {
    background-color: #fce4ec;
    color: #f50057;
}
.menu-add paper-item.core-selected {
    background-color: white;
}
core-scaffold::shadow core-header-panel::shadow #mainContainer {
    /*    margin: 0 80px 0 120px;*/
    margin: 0 110px 0 110px;
}
@media all and (max-width: 960px) {
    core-scaffold::shadow core-header-panel::shadow #mainContainer {
        margin: 0 20px;
    }
}
core-scaffold /deep/ section {
    height: 100%;
    overflow: auto;
}
core-scaffold /deep/ section::-webkit-scrollbar {
    display: none;
}
core-scaffold /deep/ paper-shadow.card {
    margin: 10px 0;
    padding: 10px;
}
.placeholder {
    height: 80px;
}
@media all and (max-width: 960px) {
    .placeholder {
        height: 20px;
    }
}
section a {
    font-weight: bold;
    text-decoration: none;
    color: #3f51b5;
}
/* Ciaos */

.accent-button {
    background-color: #ff4081;
    color: white;
}
.date {
    font-size: 13px;
}
/* Friends */

@media all and (max-width: 960px) {
    .placeholder-friends {
        height: 40px;
    }
}
core-list {
    height: 100%;
}
.grid {
    padding: 5px;
    background-color: transparent;
}
.list-item {
    width: 210px;
    padding: 10px;
    background-color: white;
    border: 1px solid #e9eaed;
}
.avatar-friend {
    display: inline-block;
    margin-right: 10px;
    width: 64px;
    height: 64px;
    line-height: 0;
    border-radius: 50%;
}
.avatar-friend img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.commonFriendsNum {
    font-size: 13px;
}
/* Find */

.find core-toolbar {
    background-color: #3f51b5;
    color: white;
}
.find .title {
    font-size: 27px;
}
.search {
    width: 480px;
    height: 1200px;
    padding: 16px;
}
.search h2 {
    color: #ff4081;
}
.search label {
    color: #3f51b5;
}
.list-item-friend {
    width: 330px;
    padding: 10px;
    background-color: white;
    border: 1px solid #e9eaed;
}
.list-item-friend a {
    font-weight: bold;
    text-decoration: none;
    color: #3f51b5;
}
.check {
    margin: 8px;
    color: green;
}
.add:hover {
    color: #ff4081;
}
/* Info */

.info {
    width: 480px;
    padding: 16px;
}
.info h2 {
    color: #ff4081;
}
.info label {
    color: #3f51b5;
}
.basic-info {
    padding-bottom: 16px;
    border-bottom: 1px solid gray;
}
.avatar-info {
    display: inline-block;
    width: 156px;
    /*    height: 156px;*/
    line-height: 0;
}
.avatar-info img {
    max-width: 100%;
}
.low {
    margin: 104px 0 0 16px;
}
.nickname {
    margin: 0;
}
.info-button {
    margin-left: 156px;
}
.info-field {
    margin-top: 16px;
}