<core-header-panel class="find" flex>
    <core-toolbar>
        <core-tooltip label="Go back">
            <paper-icon-button icon="arrow-back" ng-click="back()"></paper-icon-button>
        </core-tooltip>
        <div class="title unselectable"><a ui-sref="home">Ciao4j</a>
        </div>
    </core-toolbar>
    <div layout vertical>
        <paper-shadow class="info" self-center layout vertical>
            <div class="basic-info" layout horizontal>
                <div class="avatar-info">
                    <img ng-src="/ciao4j/avatar/{{username}}" alt="{{nickname}}"></img>
                </div>
                <!--            <h2>{{nickname}}</h2>-->
                <div class="low" layout horizontal>
                    <h2 class="nickname">{{friend.nickname}}</h2>
                    <core-icon class="info-button check" icon="check" ng-show="friend.isFriend"></core-icon>
                    <paper-icon-button class="info-button add" icon="social:person-add" ng-hide="friend.isFriend" username="{{model.username}}" index="{{index}}"></paper-icon-button>
                </div>
            </div>
            <div layout vertical>
                <div class="info-field" layout horizontal>
                    <label flex one>Gender</label>
                    <span flex four></span>
                    <span flex one ng-bind="friend.gender | capitalize"></span>
                </div>
                <div class="info-field" layout horizontal>
                    <label flex one>Birthday</label>
                    <span flex three></span>
                    <span flex one ng-bind="friend.birthday"></span>
                </div>
            </div>
            <!--            <paper-button class="accent-button" ng-click="search()" self-center>Search</paper-button>-->
        </paper-shadow>
    </div>
</core-header-panel>